@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/css?family=Lato);
@font-face {
    font-family: 'fugueregular';
    src: url('./fonts/fugue-webfont.eot');
    src: url('./fonts/fugue-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/fugue-webfont.woff2') format('woff2'), url('./fonts/fugue-webfont.woff') format('woff'), url('./fonts/fugue-webfont.ttf') format('truetype'), url('./fonts/fugue-webfont.svg#fugueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: white;
    letter-spacing: 1px;
    font-size: inherit;
    background: #7F7F7F;
    perspective: 600px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
p {
    font-size: .9em;
}
.site-container {
    top: -7px;
    right: 8px;
}
.hidden-desktop {
    margin-top: 8em;
    display: block;
    height: 125px;
}
.hidden-mobile {
    display: none;
}
.site-container {
    position: relative;
    margin: none;
    padding: none;
}
body .on {
    overflow: hidden;
}
.sub-title {
    font-size: 14px;
    font-style: italic;
}
#name {
    font-size: 1.2em;
}
p, a {
    font-family: 'Source Code Pro', sans-serif;
    /*font-family: "ITC Serif Gothic", Lato;*/
}
#projects-button {
    /*font-family: 'Source Code Pro', sans-serif;*/
    font-family: 'Lato', sans-serif !important;
    z-index: 100;
}
.project {
    flex: 1;
    text-align: center;
    display: -moz-flex;
}
.project-title {
    font-size: 1.2em;
    line-height: 1;
    font-family: 'Lato', sans-serif;
}
aside {
    z-index: 90;
    position: fixed;
    width: 90vw;
    height: 70vh;
    top: 0;
    left: 50%;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform-origin: 50% 0;
    transform: translateX(-50%) scale(0);
}
aside.on {
    top: 5vh;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%) scale(1);
    min-height: 800px;
}
a {
    text-decoration: none;
    display: block;
    line-height: 30px;
    color: white;
}
section {
    width: 60vw;
    position: relative;
    height: 80vh;
    padding: 10vh 20vw;
    background: #0B0B0B;
    transition: all 0.3s ease-in-out;
}
section.on {
    box-shadow: 0 5px 20px #333333;
    cursor: zoom-out;
    transition: all .3s ease-in-out;
    transform-origin: 50% 0;
    transform: scale(.8) translateY(115vh);
}
.contact {
    position: absolute;
    top: 30vh;
    left: 8vw;
}
h2 {
    font-size: 1em;
}
#projects-button {
    color: white;
    z-index: 100;
    position: absolute;
    width: 110px;
    height: 50px;
    top: 20px;
    right: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 20px;
}
.aside {
    margin-top: 6.7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.center {
    margin-top: 6em;
    max-width: 45%;
}

/*.glitch_word_box {
  -webkit-animation: disappear 1s linear;
  -webkit-animation-iteration-count: infinite, infinite;
  -moz-animation: disappear 1s linear;
  -moz-animation-iteration-count: infinite, infinite;
  -o-animation: disappear 1s linear;
  -o-animation-iteration-count: infinite, infinite;
}*/

.glitch_word_box .glitch_word0 {
    position: absolute;
    width: 100%;
}
.glitch_word_box .glitch_word1 {
    display: none;
    color: red;
    font-weight: bolder;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 100%;
    z-index: -1;
    -webkit-animation: animate_glitch_1 .2s linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: animate_glitch_1 .2s linear;
    -moz-animation-iteration-count: infinite;
    -o-animation: animate_glitch_1 .2s linear;
    -o-animation-iteration-count: infinite;
}
.glitch_word_box .glitch_word2 {
    display: none;
    color: blue;
    font-weight: bolder;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 100%;
    z-index: -1;
    -webkit-animation: animate_glitch_2 .3s linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: animate_glitch_2 .3s linear;
    -moz-animation-iteration-count: infinite;
    -o-animation: animate_glitch_2 .3s linear;
    -o-animation-iteration-count: infinite;
}
.glitch_word_box.hover .glitch_word1 {
    display: block;
}
.glitch_word_box.hover .glitch_word2 {
    display: block;
}
@-webkit-keyframes disappear {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
}
@-webkit-keyframes animate_glitch_1 {
    0% {
        top: 1px;
        left: 1px;
    }
    25% {
        top: 3px;
        left: 2px;
    }
    50% {
        top: -1px;
        left: -4px;
    }
    75% {
        top: 2px;
        left: 5px;
    }
    100% {
        top: 1px;
        left: -2px;
    }
}
@-webkit-keyframes animate_glitch_2 {
    0% {
        top: -1px;
        left: -1px;
    }
    25% {
        top: -3px;
        left: -2px;
    }
    50% {
        top: 1px;
        left: 4px;
    }
    100% {
        top: -1px;
        left: -1px;
    }
}
@-moz-keyframes disappear {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
}
@-moz-keyframes animate_glitch_1 {
    0% {
        top: 1px;
        left: 1px;
    }
    25% {
        top: 3px;
        left: 2px;
    }
    50% {
        top: -1px;
        left: -4px;
    }
    75% {
        top: 2px;
        left: 5px;
    }
    100% {
        top: 1px;
        left: -2px;
    }
}
@-moz-keyframes animate_glitch_2 {
    0% {
        top: -1px;
        left: -1px;
    }
    25% {
        top: -3px;
        left: -2px;
    }
    50% {
        top: 1px;
        left: 4px;
    }
    100% {
        top: -1px;
        left: -1px;
    }
}
@-o-keyframes disappear {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
}
@-o-keyframes animate_glitch_1 {
    0% {
        top: 1px;
        left: 1px;
    }
    25% {
        top: 3px;
        left: 2px;
    }
    50% {
        top: -1px;
        left: -4px;
    }
    75% {
        top: 2px;
        left: 5px;
    }
    100% {
        top: 1px;
        left: -2px;
    }
}
@-o-keyframes animate_glitch_2 {
    0% {
        top: -1px;
        left: -1px;
    }
    25% {
        top: -3px;
        left: -2px;
    }
    50% {
        top: 1px;
        left: 4px;
    }
    100% {
        top: -1px;
        left: -1px;
    }
}

/*Spinning Letters*/

.byline span {
    display: inline-block;
    animation: spin-letters 10s linear;
}
.byline {
    color: #fff;
    /*font-family: "ITC Serif Gothic", Lato;*/
    font-family: 'Source Code Pro', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(80vh);
}
@keyframes spin-letters {
    0%, 10% {
        opacity: 0;
        transform: rotateY(90deg);
    }
    30% {
        opacity: 1;
    }
    70%, 86%, 100% {
        transform: rotateY(0);
        opacity: 1;
    }
    /*95%, 100% {
    opacity: 0;
  }*/
}
@keyframes move-byline {
    0% {
        transform: translateZ(5em);
    }
    100% {
        transform: translateZ(0);
    }
}

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

@-webkit-keyframes fadeInSlow { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeInSlow { from { opacity:0; } to { opacity:1; } }
@keyframes fadeInSlow { from { opacity:0; } to { opacity:1; } }

.fade-in-slow {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeInSlow ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeInSlow ease-in 1;
	animation:fadeInSlow ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:4s;
	-moz-animation-duration:4s;
	animation-duration:4s;
}

.fade-in.one {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}

.fade-in-slow.three {
-webkit-animation-delay: 3.6s;
-moz-animation-delay: 3.6s;
animation-delay: 3.6s;
}

/* Make the 3D work on the container */

.site-container {
    perspective: 800px;
    transform-style: preserve3d;
}

/*emoji*/

.emoji {
    height: 1.5em;
    width: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}
.barber {
    background-image: url(img/barber.png)
}
.cash {
    background-image: url(img/cash.png)
}
.drake {
    background-image: url(img/drake.png)
}
.music {
    background-image: url(img/music.png)
}
.party {
    background-image: url(img/party.png)
}
.space {
    background-image: url(img/space.png)
}
.balls {
    position: absolute !important;
    left: 35vw;
    top: 19vh;
    width: 60vw;
    height: 400px;
}
@media only screen and (max-width: 768px) {
    .emoji {
        margin-bottom: 10px;
    }
    .byline {
        display: none;
    }
    .glitch_word_box.hover .glitch_word1 {
        display: none;
    }
    .glitch_word_box.hover .glitch_word2 {
        display: none;
    }
    .project {
        text-align: left;
        width: 100%;
        height: 100%;
        margin-right: -50px;
    }
    body .on {
        overflow: initial;
    }
    aside {
        height: initial;
        position: absolute;
    }
    .aside.on {
        height: initial;
        top: initial;
    }
    #projects-button {
        position: absolute;
    }
    .hidden-desktop {
        display: none;
    }
    .hidden-mobile {
        display: block;
    }
    .projects-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #projects-button {
        height: 50px;
        top: 20px;
        right: 0;
    }
    .project-title {
        font-size: 1em;
        line-height: 0;
    }
    p {
        line-height: 1.5;
    }
    aside.on {
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
        top: 12vh;
        height: 103vh;
    }
    section {
        overflow: scroll;
    }
    .aside {
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
        top: 49vh;
        height: inital;
        margin-top: initial;
    }
    .sub-title {
        font-size: 14px;
        font-style: italic;
    }
    section {
        /*opacity: 1;*/
    }
    .balls {
        display: none;
    }
    section.on {
        /*opacity: 0;
        height: 0;
        width: 0;*/
        display: block;
        transform: scale(.8) translateY(180vh);
    }
}
